# TODO: upgrade to several deployments configuration
nameOverride: ""
fullnameOverride: ""
replicaCount: 2
msName: "webapp"
image:
  repository: 760370564012.dkr.ecr.us-east-1.amazonaws.com/pavel-hello-world-node-images # TODO: secrets
  tag: "ed595ea"
  pullPolicy: IfNotPresent
service:
  type: ClusterIP # to external usage need Ingress+ELB
  port: 80
  containerPort: 3000
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 128Mi
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
cronScale:
  enabled: true
  preWarmReplicas: 6
